@font-face {
  font-family: 'EuropaR';
  src: url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.eot'); /* IE9*/
  src: url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.woff')
      format('woff'),
    /* chrome、firefox */
      url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./@font-face-europa-regular/23c0fcab84d99da0de762de7e220a6e1.svg#Europa Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'AGarProR';
  src: url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.eot'); /* IE9*/
  src: url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.woff')
      format('woff'),
    /* chrome、firefox */
      url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./@font-face-agaramondpro-regular/cde8cf60fc5af2eae40d1222d8bbd58e.svg#AGaramondPro-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'AGarProI';
  src: url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.eot'); /* IE9*/
  src: url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.woff')
      format('woff'),
    /* chrome、firefox */
      url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./@font-face-agaramondpro-italic/0c044cd33a98237e395d43423d7a9d37.svg#AGaramondPro-Italic')
      format('svg'); /* iOS 4.1- */
}
