.mainAboutContainer {
  height: 100vh;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 2;
  position: relative;
  display: grid;
  place-content: center;
}

.mainAboutInnerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  @media (min-width: 1208px) {
    flex-direction: row;
    gap: 2rem;
    margin-right: 200px;
  }
}

.mainAboutImageContainer {
  width: 250px;
  height: 250px;
  mask-image: url('../../assets/images/code.svg');
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  background: #fff;
  @media (min-width: 1208px) {
    width: 400px;
    height: 400px;
  }
}

.mainAboutTextContainer {
  font-size: 2rem;
  width: 90%;
  span {
    font-family: 'AGarProR';
    font-style: italic;
    font-size: 4rem;
  }

  @media (min-width: 1208px) {
    width: unset;
    margin-top: 300px;
    max-width: 480px;
  }
}
