.mainNavContainer {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  filter: invert(1);
  z-index: 100;
  mix-blend-mode: difference;

  @media (min-width: 1208px) {
    padding: 3rem 0;
    left: unset;
    right: 0;
    width: 200px;
    height: 100vh;
    flex-direction: column;
  }
}

.mainNavVertText {
  text-transform: uppercase;
  transition: all 1s 0.25s ease-out;
  font-size: 2.5rem;
  letter-spacing: 2px;
  z-index: 5;

  @media (min-width: 1208px) {
    transform: rotate(-90deg);
  }
}

.mainNavOpenText {
  @media (min-width: 1208px) {
    transform: rotate(0deg);
    & {
      transition: all 0.5s ease-out;
    }
  }
}

.mainNavIcon {
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  z-index: 5;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(-90deg);

  * {
    width: 100%;
    height: 1px;
    background-color: currentColor;
    pointer-events: none;
  }
}

.mainNavOpenIcon {
  transform: rotate(0deg);
  height: 20px;
  & > * {
    height: 2px;
  }
}

.mainNavMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.mainNavMenu {
  margin-top: 0;
  opacity: 0;
  height: 0;
  transition: all 0.25s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'AGarProR';
  font-size: 1.15rem;
  & > * {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 0.5px;
      width: 0;
      background: #000;
      transition: width 0.3s ease-in-out;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.mainNavMenuOpen {
  margin-top: 10px;
  opacity: 1;
  height: fit-content;

  & {
    transition: all 0.65s 0.35s ease-out;
  }
}

.mainNavLogo {
  font-family: 'AGarProR';
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}
