html {
  font-size: 100%;
}
body {
  font-family: 'EuropaR', Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1.25px;
  &::-webkit-scrollbar {
    display: none;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

[data-scrolltag] {
  position: absolute;
  top: -65px;
  left: 0;
  @media screen and (min-width: 1208px) {
    top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
